/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 :root {
  --ifm-color-primary: #2e3385;
  --ifm-color-primary-dark: #292e78;
  --ifm-color-primary-darker: #272b71;
  --ifm-color-primary-darkest: #20245d;
  --ifm-color-primary-light: #333892;
  --ifm-color-primary-lighter: #353b99;
  --ifm-color-primary-lightest: #3c42ad;
}

[data-theme='dark'] {
  --ifm-color-primary: #31f3f6;
  --ifm-color-primary-dark: #15f1f5;
  --ifm-color-primary-darker: #0aedf0;
  --ifm-color-primary-darkest: #09c3c6;
  --ifm-color-primary-light: #4df5f7;
  --ifm-color-primary-lighter: #5bf5f8;
  --ifm-color-primary-lightest: #86f8fa;
}
